@media only screen and (min-width:830px) {
    body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffd5df;
    background-image: url("images/hanimex-old-st-01.jpg");
    background-size: cover;
}

/*.bg {
    background-image: url("images/bham-background-01.jpg");
    height: 100%;

}*/

.container {
    display: grid;
    grid-template-columns: 20px 2fr 1fr 1fr 1fr 20px;
    grid-template-rows: 100px 1fr 1fr 1fr 100px;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.home {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    display: inline-block;
}
.orange {
    max-width: 300px;
    height: auto;
}
.icons {
    display: none;
}
#tv {
    max-width: 50px;
    height: auto;
    grid-column: 3;
    grid-row: 2;
}
#doc {
    max-width: 35px;
    height: auto;
    grid-column: 3;
    grid-row: 3;
}
#contact {
    max-width: 60px;
    height: auto;
    grid-column: 3;
    grid-row: 4;
}
p {
    display: inline;
    font-family: VT323, monospace;
    font-size: 1.3rem;
    color: yellow;
}
cite {
    font-family: VT323, monospace;
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color: yellow;
}
a:hover {
    color: #ff6544;
    transition: .3s;
}
#tv-text {
    grid-column: 4;
    grid-row: 2;
    text-align: center;
    display: none;
}
#doc-text {
    grid-column: 4;
    grid-row: 3;
    text-align: center;
    display: none;
}
#contact-text {
    grid-column: 4;
    grid-row: 4;
    text-align: center;
    display: none;
}
p.about:hover {
    color: #4286f4;
    transition: 1s;
}
.about-image {
    max-width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -175px;
    display: none;
}
}@media only screen and (max-width:830px) {
body {
    margin: 0;
    padding: 0;
    background-image: url("images/hanimex-old-st-01.jpg");
    background-size: contain;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12fr;
    justify-items: center;
    align-items: center;
}
.home {
    grid-column: 1;
    grid-row: 1;
}
.orange {
    max-width: 250px;
    height: auto;
    top: 0;
    padding-top: 75px;
}
.icons {
    display: none;
    padding: 40px;
}
#contact {
    max-width: 100px;
    grid-row: 3;
}
#tv {
    max-width: 100px;
    grid-row: 5;
}
#cursor {
    max-width: 65px;
    grid-row: 7;
}
#doc {
    max-width: 75px;
    grid-row: 9;
}
#camera {
    max-width: 100px;
    grid-row: 11;
    padding-bottom: 150px;
}
p {
    display: inline;
    font-family: VT323, monospace;
    font-size: 2rem;
    color: yellow;
}
cite {
    font-family: VT323, monospace;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: yellow;
}
a:active {
    color: #ff6544;
}
.text {
    padding: 30px;
}
#contact-text {
    grid-row: 2;
    text-align: center;
    display: none;
}
#tv-text {
    grid-row: 4;
    text-align: center;
    display: none;
}
#cursor-text {
    grid-row: 6;
    text-align: center;
    display: none;
}
#doc-text {
    grid-row: 8;
    text-align: center;
    display: none;
}
#camera-text {
    grid-row: 10;
    text-align: center;
    display: none;
}
.about-image {
    max-width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -175px;
    display: none;
}
}
