@media only screen and (min-width:920px) {
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(255, 213, 223, 1) 0, rgba(255, 159, 136, 1) 35%, rgba(255, 246, 175, 1) 100%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.home {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: start;
    padding-left: 75px;
}

.orange {
    max-width: 100px;
    height: auto;
}

.header {
    grid-row-start: 1;
    grid-column: 2 / span 2;
    justify-self: end;
    padding-right: 75px;
}

.shop-name {
    font-family: 'DM Mono', monospace;
    font-size: 1.8rem;
}

p {
    display: inline;
    font-family: VT323, monospace;
    font-size: 1.5rem;
}

b {
    display: inline;
    font-family: VT323, monospace;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #ff6544;
    transition: .3s;
}

.product-1, .product-2, .product-3 {
    align-self: start;
    padding-top: 125px;
}

.thumbnail {
    width: 25vw;
}

.thumbnail:hover {
    opacity: 60%;
    transition: 0.5s;
}

.gallery {
    grid-row-start: 2;
    grid-column: 1 / 4;
    padding-left: 11.5%;
    padding-top: 55px;
}

.gallery-2 {
    grid-row-start: 2;
    grid-column: 1 / 4;
    padding-left: 25%;
    padding-right: 10%;
    padding-top: 55px;
}

.gallery-pic {
    width: 25vw;
}

.desc {
    grid-row-start: 3;
    grid-column: 1 / 4;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: justify;
}

.cart-button {
    max-width: 175px;
    padding-top: 30px;
    padding-left: 68%;
}

.buy-button {
    max-width: 175px;
    padding-top: 5px;
    padding-left: 68%;
}

.back-link {
    font-family: VT323, monospace;
    font-size: 1.5rem;
    color: #3567ff;
}

}

@media only screen and (max-width:920px) {
    
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(255, 213, 223, 1) 0, rgba(255, 159, 136, 1) 35%, rgba(255, 246, 175, 1) 100%);
}

.container {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 200px 1fr 1fr 1fr 150px;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.home {
    display: none;
}

.orange {
    max-width: 100px;
    height: auto;
}

.header {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
    margin: 20px;
}

.shop-name {
    font-family: 'DM Mono', monospace;
    font-size: 1.8rem;
}

p {
    display: inline;
    font-family: VT323, monospace;
    font-size: 1.5rem;
}

b {
    display: inline;
    font-family: VT323, monospace;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #ff6544;
    transition: .3s;
}

.product-1 {
    grid-row-start: 2;
    grid-column-start: 2;
    padding-bottom: 30px;
}

.product-2 {
    grid-row-start: 3;
    grid-column-start: 2;
    padding-bottom: 30px;
}

.product-3 {
    grid-row-start: 4;
    grid-column-start: 2;
    padding-bottom: 30px;
}

.thumbnail {
    width: 275px;
    display: block;
}

.thumbnail:hover {
    opacity: 60%;
    transition: 0.5s;
}

.gallery {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gallery-pic {
    padding-bottom: 20px;
    width: 275px;
}

.desc {
    grid-row-start: 3;
    grid-column: 1 / 4;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: justify;
}

.back-link {
    font-family: VT323, monospace;
    font-size: 1.3rem;
    color: #3567ff;
}

.cart-button {
    max-width: 175px;
    padding-top: 30px;
    padding-left: 47%;
}

.buy-button {
    max-width: 175px;
    padding-top: 2px;
    padding-left: 47%;
}

}
